h1,h2,h3,h4,h5,h6,p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 1.5rem;
    text-align: center;
    text-shadow: 1px 2px 3px #808080;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.formCon{
    padding: 0 3rem;
}

.form-label{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-shadow: 1px 2px 3px #808080;
    font-size: 25px;
}

input {
    padding: .5rem;
    width: 100%;
    max-width: 300px;
    font-size: 30px;
    box-sizing: content-box;
    display: block;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 8px;
}

input:focus {
    outline: #336699 auto 1px;
}

.btnCon{
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

button {
    background-color: #eee;
    padding: .2rem 1.5rem;
    border-radius: 4px;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 8px;
}

button:hover {
    background-color: #cfd8dc;
}
